# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# Terraform plans
*.tfplan

# Environment files
*.tfvars
!terraform/environments/**/*.tfvars

# Python
__pycache__/
*.pyc
.venv/

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db